<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mybecoffe</title>
</head>
<body style="background-color:lightblue ;">
    <header style="background-color: blue;height: 100px; margin: 0 0 50px 0;">
        <h1 style="margin:0 ;">mybecoffe</h1>
       </header>
       <main>
        {%if not recettess.id%}
        hello
        {%endif%}
    
        {%if recettess.user_id == user or user.chef%}
       
        <form method="post" action="">
          {% csrf_token %}
           {{form.date.label}}
            {{form.date}}
          {{form.recette.label}}
            {{form.recette}}
            
           
            
            <input type="submit" name="create">
          
        </form>
        {%else%}
        <h1 style="font-size: 100px;">this page is not available</h1>
        {%endif%}
       
        
    
        
     
    </main>
</body>
</html>