<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:lightsteelblue;">
    <header style="background-color: blue;height: 100px; margin: 0 0 50px 0;">
        <h1 style="margin:0 ;">mybecoffe</h1>
    </header>
<section>
<form action="" method="post">
    {%if userr == user or user.chef%}
    {%csrf_token%}
    {% for champ in form %}
            {{champ.label}}
            {{champ}}
            {% endfor %}

<button type="submit">modifier</button>
{%for mes in messages%}
<p>
    {{mes}}
</p>
{%endfor%}
</form>
{%else%}
<h1 style="font-size: 100px;">this page is not available</h1>
{%endif%}
</section>
     




    
</body>
</html>